.event-card {
  position: relative;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.event-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.event-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.event-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-name {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

.event-location {
  font-size: 0.9em;
  color: #777;
  margin: 5px 0 0;
}

.bookmark-icon {
  color: #666;
  font-size: 1.5em;
  cursor: pointer;
}

.bookmark-icon:hover {
  color: #000;
}

.event-description {
  font-size: 0.9em;
  color: #555;
  line-height: 1.4;
}

.event-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-rating {
  display: flex;
  gap: 3px;
}

.star-icon {
  font-size: 1em;
  color: #ccc;
}

.star-icon.filled {
  color: #ffd700; /* Color dorado para estrellas llenas */
}

.more-info-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
}

.more-info-button:hover {
  background-color: #0056b3;
}
