.land-container {
    background-color: #f0f8ff;
    width: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 150px;
  }
  
  .land-activities-grid {
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    column-gap: 20px;
    row-gap: 40px; 
    margin: 0 auto; 
    width: calc(100% - 50px); 
    max-width: 800px; 
    justify-content: center; 
    box-sizing: border-box; 
  }
  