.parasailing-page-container {
  background-color: #ffebcd; /* Light sandy background */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  min-height: 100vh;
  box-sizing: border-box;
  padding-bottom: 40px;
}

.parasailing-page-cards {
  padding-top: 40px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 400px;
}
