.activities-card {
  position: relative;
  width: 178px; 
  height: 188px;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.activities-card-text {
  background-color: rgba(0, 0, 0, 0.6); 
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.2em;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8); 
  font-weight: bold;
  text-align: center;
}
