/* Animaci贸n inicial */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Comienza desplazado hacia abajo */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Termina en su posici贸n original */
  }
}

.activities-card {
  position: relative;
  width: 100%; 
  height: 100%; 
  aspect-ratio: 1; 
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  /* Animaci贸n */
  opacity: 0;
  animation: fadeInUp 0.6s ease-out forwards;
}

.activities-card-text {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.2em;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  font-weight: bold;
  text-align: center;
}

.activities-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Animaci贸n */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}