.water-activites-title{
  padding-top: 90px;
}



.water-container {
  background-color: #f0f8ff;
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 150px;
}

.water-activities-grid {
  padding-top: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 40px;
  margin: 0 auto;
  width: calc(100% - 50px);
  max-width: 800px;
  justify-content: center;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .water-activities-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columnas en pantallas medianas */
    width: calc(100% - 60px);
    max-width: 1000px;
  }
}

@media (min-width: 1024px) {
  .water-activities-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columnas en pantallas grandes */
    width: calc(100% - 50px);
    max-width: 1200px;
  }
}
