.activity-container {
  background-color: #f0f8ff;
  padding: 25px;
  font-family: Arial, sans-serif;
  padding-bottom: 100px;
}

.activity-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 20px;
}

.activity-info {
  flex: 1;
  font-size: 1rem;
  line-height: 1.8;
}

.activity-image {
  width: 220px;
  height: 220px;
  border-radius: 15px;
  object-fit: cover;
  margin-left: 20px;
}

.activity-description {
  margin: 30px 0;
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
}

.join-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 30px;
  float: right;
}

.join-button:hover {
  background-color: #0056b3;
}

.activity-map {
  margin-bottom: 40px;
  margin-top: 10px;
}

.comments-section {
  margin-top: 30px;
}

.activity-title-container {
  text-align: center;
  margin-bottom: 40px;
  padding-top: 120px;
}
.rounded-image-upload .ant-upload-list-item {
  border-radius: 15px;
  overflow: hidden;
}

.rounded-image-upload .ant-upload-list-item-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.action-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 30px;
}

.rating-section {
  text-align: right;
  margin-bottom: 15px;
}

.favourite-section {
  text-align: right;
}

.favourite-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.favourite-button.favourited {
  background-color: #ff5733;
}

.stars {
  display: inline-flex;
  gap: 5px;
  cursor: pointer;
}

.star {
  font-size: 24px;
  color: #ccc;
}

.star.selected {
  color: #ffcc00;
}
