.header {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 20px; 
}

.logoHeader {
  width: 80px;
  height: 80px;
  cursor: pointer; 
}

.app-name {
  font-size: 30px;
  text-align: center;
  flex-grow: 1;
  font-weight: 600; 
}

.user-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px; 
  height: 50px;
  cursor: pointer; 
  transition: transform 0.3s ease; 
}

.user-icon:hover {
  transform: scale(1.1); 
}
