.header {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logoHeader {
  width: 80px;
  height: 80px;
}

.app-name {
  font-size: 30px;
  text-align: center;
  flex-grow: 1;

}

.user-icon {
  width: 40px;
  height: 40px;
  padding-right: 25px;
}
