.login-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  background-color: #f0f8ff;
}
.login-back-button {
  align-self: flex-start;
  margin-bottom: 20px;
  background-color: #F0F8FF;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.login-h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: black;
  padding-left: 25px;
}

.login-form {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 25px;
}

.input-field {
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1em;
}

.login-button {
  width: 100%;
  padding: 15px;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #333;
}
