.carousel-container {
  position: relative;
  width: 350px; 
  height: 250px; 
  overflow: hidden; 
  margin: 0 auto;
  border-radius: 15px; 
}

.carousel-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: calc(100% * 3); 
}

.carousel-item {
  flex: 0 0 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 5px;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 50%; 
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.carousel-button.prev {
  left: 10px; 
}

.carousel-button.next {
  right: 10px; 
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
