.carousel-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
  padding: 0 25px;

}

.carousel-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 10px;
  padding: 0 5px;
}

.carousel-item {
  flex: 0 0 calc(100% - 10px);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

@media (max-width: 768px) {
  .carousel-container {
    max-width: 100%;
    max-height: 100%;
  }

  .carousel-item {
    flex: 0 0 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .carousel-container {
    max-width: 90%;
  }
}

@media (min-width: 1024px) {
  .carousel-container {
    max-width: 80%;
    padding: 0 25px;
  }

  
}