.carousel-container {
  position: relative;
  width: 350px; /* Ancho fijo según las tarjetas */
  height: 200px; /* Altura fija según las tarjetas */
  overflow: hidden;
  margin: 0 auto; /* Centrar el carrusel */
}

.carousel-content {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel-item {
  flex: 0 0 350px; /* Ancho fijo para cada tarjeta */
  height: 200px; /* Altura fija */
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item.active {
  opacity: 1;
}


.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  z-index: 10;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}
