
.image-card {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  color: white;
}

.heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  color: rgba(255, 0, 0, 0.8);
  cursor: pointer;
}

.image-info {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
}

.image-name {
  font-size: 1.2em;
  font-weight: bold;
}

.image-rating {
  display: flex;
  margin-top: 5px;
}

.star {
  font-size: 1.2em;
  color: #ccc; 
}

.star.filled {
  color: gold; 
}
