.image-card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
}

.image-card-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: all 0.3s ease;
}

.image-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 0 0 15px 15px;
}

.image-name {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.image-rating {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.star {
  font-size: 1.2em;
  color: #ccc;
}

.star.filled {
  color: gold;
}

.bookmark-profile-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

.bookmark-profile-icon:hover {
  color: #ffd700;
}

.bookmark-profile-icon.selected {
  color: #000;
  font-weight: bold;
}

@media (max-width: 768px) {
  .image-card-img {
    height: 250px;
  }

  .carousel-section {
    padding-bottom: 100px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .image-card-img {
    height: 300px;
  }

  .carousel-section {
    padding-bottom: 150px;
  }
}

@media (min-width: 1024px) {
  .image-card-img {
    height: 350px;
  }
}.carousel-section {
  padding-bottom: 200px;
}

