.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

.footer-icon {
  color: #333;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-icon:hover {
  color: #1890ff;
  transform: scale(1.2); 
}

/* Clase específica para el icono de bookmark */
.bookmark-footer-icon {
  color: #333; /* Aseguramos que el color sea igual que los demás iconos */
  font-size: 24px; /* Tamaño de fuente igual al de los otros iconos */
}

.footer-icon:hover {
  color: #1890ff;
  transform: scale(1.2); 
}

.user-profile-icon,
.footer-profile-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
