.card-location {
  width: 380px;
  height: 199px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image:"../../images/sam-wermut-XvKaRS_0Jik-unsplash.jpg" ;
} 

.card-location .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5); /* Gris con transparencia */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
}
