.frontpage-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.frontpage-image-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.frontpage-background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.front-info-icon {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1000;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.front-info-icon img {
  width: 100%;
  height: 100%;
}

.fade-in {
  opacity: 1;
}



.frontpage-logo-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.frontpage-logo {
  width: 215px;
  height: auto;
}

.frontpage-button-section {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  border: 2px solid black;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:first-child {
  color: black;
}

button:last-child {
  color: #333;
  ;
}
