.homepage-container {
  margin-top: 90px; 
  background-color: #f0f8ff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selection-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.cardlocation-water-container {
  padding-bottom: 35px;
}

.cardlocation-land-container {
  padding-bottom: 60px;
}

.event-of-the-week {
  padding-bottom: 60px;
}

.card-event-week {
  padding-bottom: 80px;
}

.most-visited {
  padding-bottom: 60px;
}

.carousel-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 30px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 200px;
}

/* Tablet styles (max-width: 768px) */
@media (max-width: 768px) {
  .selection-container,
  .cardlocation-water-container,
  .cardlocation-land-container,
  .event-of-the-week,
  .card-event-week,
  .most-visited {
    padding-left: 15px;
    padding-right: 15px;
  }

  .image-card-container {
    width: 100%; 
    height: 180px;
  }

  .carousel-section {
    padding-bottom: 150px;
  }
}

/* Laptop styles (min-width: 769px and max-width: 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .homepage-container {
    padding: 20px;
  }

  .image-card-container {
    width: 400px;
    height: 250px;
  }

  .selection-container {
    padding-top: 80px;
    padding-bottom: 50px;
  }

  .carousel-section {
    padding: 50px;
  }
}

/* Desktop styles (min-width: 1025px) */
@media (min-width: 1025px) {
  .homepage-container {
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .selection-container {
    padding-top: 100px;
    padding-bottom: 70px;
  }

  .image-card-container {
    width: 500px;
    height: 300px;
  }

  .carousel-section {
    padding-bottom: 100px;
    flex-wrap: wrap; 
  }
}
