.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.homepage-container {
  margin-top: 90px; 
  background-color: #f0f8ff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selection-container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.event-week-title{
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-location-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px; 
  justify-content: center; 
  width: 100%; 
  max-width: 1440px; 
  margin: 0 auto;
}


.cardlocation-water-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center; 
  width: 100%;
}

.cardlocation-land-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center;
  padding-bottom: 40px;
  width: 100%;
}



.event-of-the-week {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-event-week {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 80px;
}


.most-visited {
  padding-bottom: 60px;
}

.carousel-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 200px;
  overflow: hidden;
}

.home-info-icon {
  position: absolute;
  top: 110px;
  left: 15px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1000;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.home-info-icon img {
  width: 100%;
  height: 100%;
}

.fade-in {
  opacity: 1;
}
