.homepage-container{
    background-color: #f0f8ff;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.selection-container{
    padding-top: 60px;
    padding-bottom: 60px;
    
}

.cardlocation-water-container{
    padding-bottom: 35px;
}

.cardlocation-land-container{
    padding-bottom: 60px;
}